/**
 *
 *  @format
 *  main.css
 *  These are the final styles for the project.
 *  Author: Saddam Arbaa
 */

/***** Start variables ********/
:root {
	--main-color: #100f39;
	--secondary-color: #8483e0;
	--section-background: #f2f7fa;
	--white: #fff;
	--black: #000;
	--grey7: #777;
	--space16: 16px;
	--space20: 20px;
	--space25: 25px;
	--space30: 30px;
	--space40: 40px;
	--space50: 50px;
	--space60: 60px;
	--space70: 70px;
	--space80: 80px;
	--space90: 90px;
	--space100: 100px;
	--line-height-space: 1.7;
	--transition-duration: 0.3s;
}
/********** End variables **********/

/********** Start global rules **********/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif; /* Google Web Fonts */
}

ul {
	list-style: none;
}

p {
	line-height: var(--line-height-space);
}

.container {
	padding-left: var(--space16);
	padding-right: var(--space16);
	margin-left: auto;
	margin-right: auto;
	background: grey;
}

/* Apply styles starting from Small devices (landscape phones, 576px ) and up to Medium devices (tablets, 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Apply styles starting from medium devices(tablets, 768px) and up to Large devices (desktops, 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* .container {
		width: 750px;
	} */
}

/* Apply styles starting from Large devices (desktops, 992px) and up to X-Large devices (large desktops, 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* .container {
		width: 970px;
	} */
}

/* Apply styles starting from X-Large devices (large desktops, 1200px ) and up to XX-Large devices */
@media (min-width: 1200px) {
	/* .container {
		width: 1170px;
	} */
}
/********** End global rules **********/

/********** grid container **********/
.grid-container {
	display: grid;
	grid-template-columns: 150px 2.5fr 2fr;
	background: lightblue;
	width: 100%;
	height: 100vh;
}

@media (max-width: 767px) {
	.grid-container {
		grid-template-columns: 200px 1fr;
	}
}

@media (max-width: 576px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}

/********** main container **********/
.grid-container .tweets-main-wrapper {
	display: flex;
	flex-direction: column;
	background: blue;
}

.grid-container .tweets-main-wrapper .tweets-search-container {
	height: 80px;
	margin: 20px;
	background: rgb(2, 0, 128);
}

.grid-container .tweets-main-wrapper .tweets-list-container {
	height: 500px;
	margin: 20px;
	background: green;
}

.grid-container .tweets-main-wrapper .tweets-list-container .tweet {
	display: flex;
	flex-direction: column;
	height: 100px;
	background: white;
	margin: 10px;
}

/********** left sidebar **********/
.grid-container .navigation-leftSidebar-wrapper {
	background: red;
}

@media (max-width: 767px) {
	.navigation-leftSidebar-wrapper {
		display: none;
	}
}

@media (max-width: 576px) {
	.grid-container .navigation-leftSidebar-wrapper {
		display: none;
	}
}

/********** right sidebar **********/
.grid-container .tweets-rightSidebar-wrapper {
	display: flex;
	background: yellow;
}

.grid-container .tweets-rightSidebar-wrapper .tweet-sidebar {
	width: 200px;
	height: 500px;
	margin: 20px;
	background: white;
}

@media (max-width: 576px) {
	.grid-container .tweets-rightSidebar-wrapper {
		display: none;
	}
}

/********** Start Scroll Top **********/
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 35px;
	right: 5px;
	width: var(--space40);
	height: var(--space40);
	background: var(--main-color);
	border-radius: var(--space50);
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
	border: 0;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-to-top i {
	background: var(--secondary-color);
	height: var(--space40);
	width: var(--space40);
	color: var(--white);
	text-align: center;
	line-height: 40px;
	font-size: var(--space20);
	border-radius: var(--space50);
	-webkit-border-radius: var(--space50);
	-moz-border-radius: var(--space50);
	-ms-border-radius: var(--space50);
	-o-border-radius: var(--space50);
	transition: var(--transition-duration);
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
}

@media (max-width: 380px) {
	.back-to-top {
		bottom: var(--space100);
	}
}
/********** End Scroll Top **********/
