/**
 * ** Start variables *******
 *
 * @format
 */

:root {
	--blue: #1da1f2;
	--black: #0f0f11;
	--dark-Gray: #657786;
	--light-Gray: #e1e8ed;
	--white: #fff;
	--space16: 16px;
	--space20: 20px;
	--space25: 25px;
	--space30: 30px;
	--space40: 40px;
	--space50: 50px;
	--space60: 60px;
	--space70: 70px;
	--space80: 80px;
	--space90: 90px;
	--space100: 100px;
	--line-height-space: 1.7;
	--transition-duration: 0.3s;
}
/********** End variables **********/

/********** Start global rules **********/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto, Helvetica, Arial, sans-serif"; /* Google Web Fonts */
	background: var(--black);
}

ul {
	list-style: none;
}

p {
	line-height: var(--line-height-space);
}

.container {
	padding-left: var(--space16);
	padding-right: var(--space16);
	margin-left: auto;
	margin-right: auto;
}
/********** End global rules **********/

/********** grid container **********/
.grid-container {
	display: flex;
	background: var(--black);
	width: 100%;
	height: 100vh;
	flex-wrap: nowrap;
}

/********** Start main container **********/
.grid-container .tweets-main-wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	border: 1px solid var(--dark-Gray);
	border-top: none;
	flex: 1;
}

.grid-container .tweets-main-wrapper .tweets-home-container {
	color: var(--light-Gray);
	display: flex;
	justify-content: space-between;
	min-height: 25px;
	padding: 20px;
	padding-top: 0;
	border-bottom: 1px solid var(--dark-Gray);
}

.grid-container .tweets-main-wrapper .tweets-home-container .home {
	font-size: 1.5rem;
}

.grid-container .tweets-main-wrapper .tweets-home-container i {
	color: var(--light-Gray);
}

.grid-container .tweets-main-wrapper .tweets-search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-Gray);
	border-bottom: 1px solid var(--dark-Gray);
}

.grid-container .tweets-main-wrapper .tweets-search-container {
	position: relative;
}

.grid-container .tweets-main-wrapper .tweets-search-container input {
	width: 100%;
	padding: 20px;
	background: transparent;
	color: var(--white);
	border: none;
	font-size: 30px;
	padding-right: 60px;
}

.grid-container
	.tweets-main-wrapper
	.tweets-search-container
	.search-icon-wrapper {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.grid-container .tweets-main-wrapper .tweets-list-container {
	height: 500px;
	margin: 20px;
	background: var(--dark-Gray);
}

.grid-container .tweets-main-wrapper .tweets-list-container .tweet {
	display: flex;
	flex-direction: column;
	height: 100px;
	background: white;
	margin: 10px;
}
/********** End main container **********/

/********** Start left sidebar **********/
.grid-container .navigation-leftSidebar-wrapper {
	background: var(--black);
	color: var(--white);
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-basis: 20%;
}

/* direct child */
.grid-container .navigation-leftSidebar-wrapper > div {
	margin-bottom: 25px;
}

.grid-container .navigation-leftSidebar-wrapper .profile {
	width: 65px;
	height: 65px;
	cursor: pointer;
}

@media (max-width: 576px) {
	.grid-container .navigation-leftSidebar-wrapper .profile {
		width: 50px;
		height: 50px;
	}
}

.grid-container .navigation-leftSidebar-wrapper .profile-wrapper {
	width: 100%;
}

.grid-container .navigation-leftSidebar-wrapper .profile img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.grid-container .navigation-leftSidebar-wrapper .side-icon {
	display: flex;
	width: 100%;
	color: var(--light-Gray);
	font-size: 23px;
	transition: var(--transition-duration);
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
}

.grid-container .navigation-leftSidebar-wrapper .side-icon:not(:first-child) {
	cursor: pointer;
}

.grid-container .navigation-leftSidebar-wrapper .side-icon.logo i,
.grid-container .navigation-leftSidebar-wrapper .side-icon.explore {
	color: var(--blue);
}

.grid-container .navigation-leftSidebar-wrapper .side-icon:hover {
	color: var(--blue);
}

.grid-container .navigation-leftSidebar-wrapper .side-icon.notifications {
	position: relative;
	margin-top: 10px;
}

.grid-container
	.navigation-leftSidebar-wrapper
	.side-icon.notifications::after {
	position: absolute;
	content: "3";
	color: white;
	text-align: center;
	background: var(--blue);
	width: 25px;
	height: 25px;
	border: 1px solid var(--blue);
	left: 4px;
	top: -20px;
	border-radius: var(--space50);
	-webkit-border-radius: var(--space50);
	-moz-border-radius: var(--space50);
	-ms-border-radius: var(--space50);
	-o-border-radius: var(--space50);
}

.grid-container .navigation-leftSidebar-wrapper .side-icon.tweet {
	width: 100%;
	border: 1px solid var(--blue);
	background: var(--blue);
	color: var(--light-Gray);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.grid-container .navigation-leftSidebar-wrapper .side-icon.search,
.grid-container .navigation-leftSidebar-wrapper .side-icon.add {
	display: none;
}

.grid-container .navigation-leftSidebar-wrapper .side-icon.explore {
	position: relative;
}

.grid-container .navigation-leftSidebar-wrapper .side-icon.explore::after {
	position: absolute;
	content: "";
	top: -2px;
	right: -21px;
	bottom: -19px;
	width: 3px;
	height: 86px;
	background: var(--blue);
	z-index: 10;
}

.grid-container .navigation-leftSidebar-wrapper .side-icon i {
	margin-right: 20px;
}

@media (max-width: 767.98px) {
	.grid-container .navigation-leftSidebar-wrapper {
		width: 120px !important;
		width: 100px;
		min-width: 80px;
		overflow: hidden;
	}

	.grid-container .navigation-leftSidebar-wrapper .side-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.grid-container .navigation-leftSidebar-wrapper .side-icon.tweet {
		display: none;
	}

	.grid-container .navigation-leftSidebar-wrapper .side-icon.search,
	.grid-container .navigation-leftSidebar-wrapper .side-icon.add {
		display: flex;
		color: var(--blue);
	}

	.grid-container
		.navigation-leftSidebar-wrapper
		.side-icon.notifications::after {
		position: absolute;
		content: "";
		display: none;
	}

	.grid-container .navigation-leftSidebar-wrapper .side-icon span {
		display: none;
	}

	.grid-container .navigation-leftSidebar-wrapper .side-icon.explore::after {
		top: -50px;
		height: 76px;
	}
}
/********** End left sidebar **********/

/********** Start right sidebar **********/
.grid-container .tweets-rightSidebar-wrapper {
	display: flex;
	justify-content: center;
	flex-basis: 32%;
}

.grid-container .tweets-rightSidebar-wrapper .tweet-sidebar {
	width: 90%;
	height: 520px;
	background: var(--light-Gray);
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
}

@media (max-width: 800px) {
	.grid-container .tweets-rightSidebar-wrapper {
		display: none;
	}
}

.grid-container .tweets-rightSidebar-wrapper .trends {
	width: 100%;
	min-height: 90px;
	border-bottom: 1px solid var(--dark-Gray);
	padding-top: 6px;
	cursor: pointer;
	transition: var(--transition-duration);
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
}

.grid-container .tweets-rightSidebar-wrapper .trends:first-child {
	min-height: 70px;
}

.grid-container .tweets-rightSidebar-wrapper .trends:not(:first-child):hover {
	background: var(--dark-Gray);
}

/* Remove border-bottom from the last child */
.grid-container .tweets-rightSidebar-wrapper .trends:last-child {
	border-bottom: 0;
	font-weight: normal;
	color: var(--blue);
}

/* Number of tweets */
.grid-container .tweets-rightSidebar-wrapper .number-of-tweets {
	position: absolute;
	bottom: -7px !important;
	left: 20px !important;
	font-size: 14px;
	font-weight: normal;
}

.grid-container .tweets-rightSidebar-wrapper .trending-type {
	position: absolute;
	top: 1px !important;
	left: 20px !important;
	font-size: 14px;
	font-weight: normal;
}

.grid-container .tweets-rightSidebar-wrapper .trend {
	display: flex;
	justify-content: space-between;
	flex-direction: row !important;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	position: relative;
}

.grid-container .tweets-rightSidebar-wrapper .trend i {
	color: var(--blue);
}

/********** END right sidebar **********/

/********** Start components **********/

.padding20 {
	padding: 20px;
}

.padding-top20 {
	padding-top: 20px;
}

.margin20 {
	margin: 20px;
}
/********** End components **********/

/********** Start Scroll Top **********/
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 35px;
	right: 20px;
	width: var(--space40);
	height: var(--space40);
	background: var(--blue);
	border-radius: var(--space50);
	-webkit-border-radius: var(--space50);
	-moz-border-radius: var(--space50);
	-ms-border-radius: var(--space50);
	-o-border-radius: var(--space50);
	border: 0;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-to-top i {
	background: var(--blue);
	height: var(--space40);
	width: var(--space40);
	color: var(--white);
	text-align: center;
	line-height: 40px;
	font-size: var(--space20);
	border-radius: var(--space50);
	-webkit-border-radius: var(--space50);
	-moz-border-radius: var(--space50);
	-ms-border-radius: var(--space50);
	-o-border-radius: var(--space50);
	transition: var(--transition-duration);
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
}

@media (max-width: 380px) {
	.back-to-top {
		bottom: var(--space100);
	}
}
/********** End Scroll Top **********/
